@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  padding: 20px;
  padding-top: 0px;
}

div {
  font-family: "Josefin Sans";
  font-size: 20px;
  letter-spacing: 2px;
  margin: 150px auto;
  margin-top: 25px;
  background-color: #c0d6e4;
  border-radius: 10px;
  padding: 50px;
  max-width: 75%;
}

p {
  font-family: Itim;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}

/* ids */
#luashh {
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 0px;
}

#selfie-caption {
  font-family: Itim;
  width: 300px;
  background-color: none;
  padding-top: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-style: italic;
  color: #adc5d4;
}

#social-media {
  text-align: center;
}

#home-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/* portrait */
img#my-portrait {
  width: 300px;
}
figure {
  border: 20px solid white;
  border-bottom-width: 80px;
  border-radius: 8px;
  width: 300px;
  height: 450px;
  margin: 0 auto;
}

/* links */
a {
  font-family: Itim;
  text-decoration: none;
  color: #4F93B6;
}

#lab-links a {
  color: black;
}

a:visited {
  color: #4F93B6;
}

#lab-links a:hover, #projects a:hover {
  color: white;
}

/* classes */
.organizer {
  padding: 0px;
}

.bold {
  font-weight: bold;
}

/* divs */
div#sub-intro {
  columns: 400px 2;
  column-rule: 5px double white;
  text-align: center;
  justify-content: center;
  padding: 0px;
  margin: 0 auto;
}

div#sub-intro p {
  padding: 50px;
  margin: 0 auto;
}

div#my-interests li {
  font-weight: bold;
}

div#my-interests p {
  padding: 10px;
  font-weight: normal;
}

div#lab-links {
  display: grid;
  grid: auto auto auto;
  columns: 5% 3;
  margin-bottom: 80px;
}

div#lab-links li {
  font-family: Itim;
}

/* navigation bar */
ul#navigation-bar {
  list-style-type: none;
  padding-top: 0px;
  padding: 30px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
}

ul#navigation-bar li {
  display: inline;
}

ul#navigation-bar a {
  padding: 5px;
  font-family: "Josefin Sans";
  padding-right: 10px;
  background-color: white;
  color: #adc5d4;
  text-decoration: none;
  font-size: 20px;

}

ul#navigation-bar a:hover {
  color: #4F93B6;
  font-weight: bold;
  background-color: white;
}
