h1 {
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-family: "Courier New";
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: "Courier New";
  font-size: 18px;
}

div {
  margin: 80px;
  font-family: "Courier New";
}

div.tasks {
  margin: 100px;
  background-color: #c0d6e4;
  border-radius: 10px;
  padding: 30px;
}

div#output {
  columns: 200px 2;
  text-align: center;
}

img#car {
  width: 350px;
}

/* image gallery */
img {
  width: 500px;
  display: block;
  object-fit: cover;
}

div.gallery {
  margin: 10px;
  border: 1px solid #fcc87f;
  border-radius: 10px;
  float: left;
  width: 500px;
  height: 500px;
  padding: 50px;
  text-align: center;
}

div.caption {
  padding: 15px;
  text-align: center;
  font-family: "Courier New";
  margin: auto;
}

/* navigation bar */
ul#navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  font-family: "Courier New";
}

ul#navigation-bar li {
  display: inline;
  border-radius: 3px;
}

ul#navigation-bar a {
  padding: 20px;
  background-color: #dcd8d0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

ul#navigation-bar a:hover {
  color: #968d81;
  font-weight: bold;
}
/**************************/
