h1 {
  font-family: Helvetica;
  font-size: 50px;
  text-align: center;
  color: white;
}

img {
  width: 300px;
  margin: 30px;
  border: 30px solid white;
  border-bottom: 100px solid white;
  text-align: center;
}

p {
  text-indent: 50px;
  font-family: Georgia;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

div {
  margin: 50px;
}

/* navigation bar */
ul#navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  font-family: "Courier New";
}

ul#navigation-bar li {
  display: inline;
  border-radius: 3px;
}

ul#navigation-bar a {
  padding: 20px;
  background-color: #dcd8d0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

ul#navigation-bar a:hover {
  color: #968d81;
  font-weight: bold;
}
/**************************/

#content {
  background-color: #989ebd;
  border: 10px double #ffcbcb;
  padding: 30px;
  margin: 100px;

}

#ashley {
  border: 4px dotted #dcd8d0;
  columns: 500px 2;
  padding: 50px;
}

#ashley p {
  margin: 30px;
}

#nkem {
  border: 4px dotted #dcd8d0;
  columns: 500px 2;
  padding: 50px;
}

#nkem p {
  margin: 30px;
}
